
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: lightgray;
    font-family: cursive;
}
#box{
    background: white;
    width: 400px;
    border-radius: 5px;
}

.row{
    display: flex;
    justify-content: space-evenly;
}